@import "../../styles/variables";
@import "../../styles/mixins";

.cardWrapper {
  .card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 480px;
    background: $default;
    box-sizing: border-box;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 12%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $defaultHover;
    }

    .card__wrapper {
      position: absolute;
      background: white;
      top: 4px;
      left: 4px;
      width: 311px;
      height: 471px;
      display: flex;
      flex-direction: column;
      clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 12%);

      .card__content {
        padding: 20px 50px;

        .ask {
          color: black;
          @include fontProp(normal, 16px, 400, 19px);
        }

        h3 {
          margin: 0;
          @include fontProp(normal, 16px, 400, 19px);
        }

        h1 {
          margin: 0;
          @include fontProp(normal, 48px, 700, 56px);
        }

        h2 {
          @include fontProp(normal, 24px, 700, 28px);
          margin-top: 0;
          margin-bottom: 15px;
        }

        p {
          @include fontProp(normal, 14px, 700, 16px);
          margin: 0;
          color: #666666;
        }

        img {
          position: absolute;
          bottom: -100px;
          left: -30px;
          max-width: 368px;
          height: 360px;
        }

        .card__wrapper_weight {
          position: absolute;
          display: flex;
          gap: 8px;
          @include displayProp(column, center, center);
          right: 16px;
          bottom: 16px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: $default;
          z-index: 1;
          transition: all 0.2s ease-in-out;

          h3 {
            margin: 0;
            @include fontProp(normal, 42px, 400, 22px);
            color: white;
          }

          h4 {
            margin: 0;
            @include fontProp(normal, 18px, 400, 22px);
            color: white;
          }
        }
      }
    }
  }

  .card__buy {
    p {
      color: white;
      @include fontProp(normal, 13px, 400, 18px);
      text-align: center;
      transition: all 0.2s ease-in-out;
      padding-top: 5px;
      margin: 0;
      height: 15px;
    }

    button {
      border: none;
      background: transparent;
      color: $default;
      border-bottom: 1px dashed $default;
      cursor: pointer;
    }
  }

  // active styles

  .card.active {
    background: $active;

    &:hover {
      background: $activeHover;
    }

    .card__wrapper {

      .card__content {

        .ask {
          color: #E62E7A;
          @include fontProp(normal, 16px, 400, 19px);
        }

        h3 {}

        h1 {}

        h2 {}

        p {}

        img {}

        .card__wrapper_weight {
          background: $activeHover;

          h3 {}

          h4 {}
        }
      }
    }
  }

  .card__buy {
    p {}

    button {}
  }
}
