@import "../../variables";

.cardWrapper {
  .disable {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 480px;
    background: $disabled;
    box-sizing: border-box;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 12%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $disabled;
    }

    .card__wrapper {
      position: absolute;
      background: white;
      top: 4px;
      left: 4px;
      width: 311px;
      height: 471px;
      display: flex;
      flex-direction: column;
      clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 12%);

      .card__content {
        padding: 20px 50px;
        color: #B3B3B3;
        opacity: 0.5;

        .ask {
          color: #E62E7A;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }

        h3 {
          margin: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }

        h1 {
          margin: 0;
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 56px;
        }

        h2 {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          margin-top: 0;
          margin-bottom: 15px;
        }

        p {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          margin: 0;
        }

        img {
          position: absolute;
          bottom: -100px;
          left: -30px;
          max-width: 368px;
          height: 360px;
        }

        .card__wrapper_weight {
          position: absolute;
          display: flex;
          gap: 8px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          right: 16px;
          bottom: 16px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: $disabled;
          z-index: 1;
          transition: all 0.2s ease-in-out;

          h3 {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 22px;
            color: white;
          }

          h4 {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: white;
          }
        }
      }
    }
  }

  .card__buy {
    p {
      color: #FFFF66;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      transition: all 0.2s ease-in-out;
      padding-top: 5px;
      margin: 0;
    }

    button {
      border: none;
      background: transparent;
      color: $default;
      border-bottom: 1px dashed $default;
      cursor: pointer;
    }
  }
}