@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0 auto;
  font-family: 'Exo 2', sans-serif;
  background-image: url("./assets/bg.svg");
  background-size: cover;
  height: 100%;
}

.App {
  background-image: url("./assets/Shadow.svg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__title {
  font-size: 36px;
  font-weight: 100;
  line-height: 42px;
  text-align: center;
  color: white;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

